<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Upload</title>
        <link rel="stylesheet" media="screen" crossorigin="anonymous"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
              integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
              th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"/>
        <link rel="stylesheet" media="screen"
              href="../../static/css/grum.css"
              th:href="@{css/grum.css}"/>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script crossorigin="anonymous"
                src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
                integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
                th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
    </head>
    <body>
    <div class="wrapper">
        <div th:replace="fragments/header :: header">Header Error!</div>
        <div class="content container">
            <div class="well">
                <h2>You can upload files here!</h2>
            </div>
            <form class="well well-sm" method="POST" enctype="multipart/form-data" action="/upload">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <input type="file" name="file"/><br/>
                <input class="btn btn-default" type="submit" value="Upload"/>
            </form>
        </div>
        <div th:replace="fragments/footer :: footer">Footer Error!</div>
    </div>
    </body>
</html>